@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

p {
    line-height: 1.6;
    margin: 0 1em 1em 1em;
    text-align: justify;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1em auto;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav {
    background-color: #333;
    padding: 1em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}